# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. NumPy

<div style="text-align: left;">

|Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

</div>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60`
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**
1. List popular languages for Data Science
2. List popular libraries used for Data Science
3. List popular open source tools for Data Science
4. Create markdown cells with ordered lists
5. Perform basic arithmetic operations using python

## Author

Travis Longenbach